<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="backend/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="backend/server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <iisnode nodeProcessCommandLine="&quot;D:\Program Files\nodejs\24.14.1\node.exe&quot;" watchedFiles="web.config;backend\*.js" node_env="production" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
